.container-all{
  height: 100vh;
  width: 100vw;
  background-image: url(./images/colors-of-music.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.container-drum{
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.829);
  align-self: center;
  width: 50%;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  

}
.drum-pad-all{
  
  width: 60%;
  height: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: solid black;
  align-self: center;
}
.drum-pad{
width: 25%;
margin: 5px;
}

.display-class{
border: solid #ffc107 2px;
width: 100%;
height: 50px;
border-radius: 10px;
text-align: center;
padding-top: 10px;
}

#display{
  color: #ffc107;
}

.controls{
border: solid black;
width: 35%;
height: 80%;
align-self: center;
display: flex;
flex-flow: column wrap;
justify-content: space-between;
align-content: center;
}

.power-btn{
  width: 100%;
  font-weight: 700;
}

.volume{
  width: 100%;
}

footer{
  color:rgb(77, 74, 74);
  font-size: small;
  align-self: flex-end;
}

